<div class="container">
  <div class="row">
    <p class=""><%= @item.name %> のレビュー一覧</p>
  </div>
  <div class="row">
    <% @comments.each do |comment| %>
     <%= comment.comment_content %>
     <%= comment.rate %>
    <% end %>
  </div>
</div>