<div class="bc pb-3">
 <div class="container">
 <div class="bg">
    <div class="col-9 offset-1">
      <p class="bg-text h3 ml-5 mt-5 mb-3">About us</p>
      <p class="bg-text text-left ml-5 h5">Aroma Styleは、お客様の日々の暮らしに癒しと安らぎを提供することを目指します。<br>
                           ブレンド商品はお好きな香りを組み合わせたお客様オリジナルの香りです。<br>
                           アロマオイルは全て天然１００％です。安心してお買い物をお楽しみ下さい。</p>
    </div>
 </div>
 </div>
</div>


