<div class="container">
  <div class="row">
    <div class="bg">
      背景
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-3">
      <p class="h5 text-secondary">About us</p>
      <p class="text-left text-secondary">Aroma Styleは天然の香りから、お客様の日々の暮らしに癒しと安らぎを提供する<br>ことを目指します。<br>
                           ブレンド商品はお好きな香りを組み合わせたお客様オリジナルの香りです。<br>
                           アロマオイルは全て天然１００％です。安心してお買い物をお楽しみ下さい。</p>
    </div>
  </div>
  
</div>