<div class="bc">
<div class="container bg">
    <div class="col-8  mt-5">
      <p class="bg-text h4">About us</p>
      <p class="bg-text text-left h5">Aroma Styleは天然の香りから、お客様の日々の暮らしに癒しと安らぎを提供する<br>ことを目指します。<br>
                           ブレンド商品はお好きな香りを組み合わせたお客様オリジナルの香りです。<br>
                           アロマオイルは全て天然１００％です。安心してお買い物をお楽しみ下さい。</p>
    </div>
</div>
</div>
  

