<div class="container">
  <div class="row text-secondary">
    <h3 class="offset-2 mt-4 mb-4 font-weight-bold">Policy / ポリシー</h3>
    <div class="col-8 offset-2">
    <h5 class="policy-title mt-3 mb-2">送料について</h5>
    <p>別途送料を一律５００円頂戴致します。</p>
    <h5 class="policy-title mt-3 mb-2">配送について</h5>
    <p>通常商品のみのご注文はご入金後３日以内に発送致します。<br>
       ご注文にブレンド商品が含まれる場合はご入金後10日以内に発送致します。<br>
       特例がある場合には事前にメールにてご連絡致します。</p>
    <h5 class="policy-title mt-3 mb-2">返品・不良品について</h5>
    <p>商品の返品・交換には不良品の場合以外は応じられません。<br>
       商品をお受け取りになられましたらすぐにご注文の内容と違いがないか、破損がないかなどの確認をお願い致します。<br>
       万が一お届けした商品がご注文の商品と違っていた場合や破損・不良品がございましたら、3日以内にご連絡をお願い致します。<br>
       送料・手数料弊社負担で早急に新しい商品をお送りさせていただきます。<br>
       ※お客様のご都合による商品の破損、香りのイメージが違ったなどの理由での返品はご容赦願います。</p>
    <h5 class="policy-title mt-3 mb-2">レビュー投稿について</h5>
    <p>お客様に投稿いただいたレビュー内容につきましては、当社は一切の責任を負いません。<br>
    万が一お客様が退会された際、退会前に投稿されたレビューは退会後も公開されます。<br>（お客様ご本人が投稿されたレビューはログイン時にマイページから削除可能です）<br>
       下記に当てはまるレビューについては必要に応じて告知することなく修正又は非公開をする場合がございます。<br>
       ・個人の健康に関する効能以上のご意見<br>
       ・誤った使用方法と思われるレビュー<br>
       ・他のお客様が不快になる表現<br>
       ・個人情報と思われる内容<br>
       ・その他当社が不適切と判断したレビュー</p>

    <h5 class="policy-title mt-3 mb-2">プライバシーポリシー</h5>
    <p>当社は、お客様の個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）
    を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。
    </p>
    <p class="font-weight-bold mb-0">個人情報の取得方法</p>
    <p>当社はお客様が会員登録をされる際、氏名・住所・電話番号・メールアドレスなど個人を特定できる情報を取得させていただきます。<br>
    お問い合わせフォームには、氏名・メールアドレスを取得させていただきます。</p>
    <p class="font-weight-bold mb-0">個人情報の利用目的</p>
    <p>当社はお客様の個人情報を、以下の目的で利用致します。<br>
    ・当社サービスの提供のため<br>
    ・当社へのお問い合わせ対応のため<br>
    ・当社の商品・サービス等のご案内のため<br>
    ・当社サービスに関する当社のポリシーに違反する行為に対する対応のため<br>
    ・当社サービスの改善・新サービスの開発に役立てるため<br>
    ・当社サービスに関連して、個別を識別できない形式に加工した統計データを作成するため<br>
    ・その他、上記利用目的に付随する目的のため</p>
    <p class="font-weight-bold mb-0">個人データの第三者提供について</p>
    <p>当社は法令及びガイドラインに別段の定めがある場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。</p>
    <p class="font-weight-bold mb-0">個人情報の開示、訂正</p>
    <p>当社はお客様から個人情報保護法の定めに基づき個人情報の開示を求められた際は、お客様ご本人からのご請求であることを確認の上で、お客様に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。</p>
    <p class="font-weight-bold mb-0">個人情報取り扱いに関する相談や苦情の連絡先</p>
    <p>当社の個人情報の取り扱いに関するご質問やご不明点、苦情、その他のお問い合わせはお問い合わせフォームよりご連絡ください。</p>
    <p class="font-weight-bold mb-0">Cookie（クッキー）その他の技術の利用</p>
    <p>当社はcookie及びこれに類する技術を利用することがございます。これらの技術は当社のサービスの利用状況等の把握・サービス向上に役立つものです。お使いのWebブラウザの設定により、cookieを無効にすることも可能です。</p>
    <p class="font-weight-bold mb-0">継続的改善</p>
    <p>当社は個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて本プライバシーポリシーを変更することがござます。</p>
  </div>
</div>