@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  justify-content: center;
  text-align: center;
  color: gray;
}
.navbar-nav {
  color: black;
}

.f-navbar {
  justify-content: center;
  text-align: center;
  color: oldlace;
}

.footer-text {
  justify-content: center;
  font-weight: bold;
  color: oldlace;
  text-align: center;
}

footer{
  background-color: darkgrey;
}

.row-top{
  display: flex;
}
.shipping-fee {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  font-weight: bolder;
  padding: 5px;
  margin-bottom: 10px;
  color: slategray;
}

.image {
  filter: opacity(60%);
  position: relative;
	overflow: hidden;
}

.card-img {
  filter: opacity(60%);
  width: 250px;
  height: 180px;
}

.topic-card {
  background-color: oldlace;
}

.topic-image{
  filter: opacity(60%);
}

.top-ranking {
  display: inline-flex;
}

.new {
  display: inline-flex;
}


.bc {
  background-color: oldlace;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

.admin-bc {
  background-color: lavender;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

.hbc {
  background: -moz-linear-gradient(top, #FFF);
  background: -webkit-linear-gradient(top, #FFF);
  background: linear-gradient(to bottom, #FFF,oldlace 20%);
  background-size: cover;
  width: 100vw;
  min-height: 50vh;
}

.item-index-card {
  display: flex;
  margin-left: 150px;
}

.item-name {
  border-bottom: 2px solid grey;
  color: gray;
}

.item-show{
  color: gray;
}

.bg-text {
  color: currentcolor;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
  background-color: oldlace;
}

.pagination>.active>a {
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.review-card {
  background-color: initial;
}

.link {
  text-decoration: none;
  color: slategray;
}
.link-line {
  text-decoration: underline;
  color: #444444;
}

#error_explanation {
  color: tomato;
}

.policy-title {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 768px) {
 .item-index-card {
   display: block;
 }
 .item-result{
   display: block;
 }
 .row {
   display: block;
 }
}

@media (max-width: 425px) {
 .item-index-card {
   display: block;
   margin-left: 10px;
 }
 .item-result{
   display: block;
 }

 .item-index-card {
   margin: auto;
 }

 .item-card-resp{
   padding-left: 25px;
 }

 .logo {
   width: 40px;
   height: 20px;
   padding-top: 15px;
 }

 .items-title{
   font-size: 20px;
 }

 .top-ranking{
   display: block;
 }

 .top-bg {
   width: auto;
 }

 .row {
   display: block;
 }

.average-review-rating{
  width: max-content;
}

.review {
  width: 130px;
}

.item-p-resp{
  width: 250px;
}

.sign-in-form {
  margin-left: 40px;
  margin-top: auto;
}

.sign-up-form {
  margin-left: 40px;
  margin-top: auto;
}

#customer_address{
  width: 300px;
}

#order_address{
  width: 300px;
}

#comment_comment_content {
  width: 300px;
}

.address-form{
  margin-bottom: 20px;
}

#contact_name {
  width: 300px;
}

#contact_email {
  width: 300px;
}

#contact_content {
  width: 300px;
}

#admin_email {
  width: 300px;
}

#admin_password {
  width: 300px;
}

table, tbody, tr,td,th {
    white-space: nowrap;
  }
}

.navbar-toggler{
  border-color: gray;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69,65,65,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
