@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: inline-block;
  border-top: 2px solid grey;
  text-align: center;
  color: #grey;
}

.image {
  filter: opacity(70%);
}


.item-name {
  border-bottom: 2px solid grey;
}


.bg {
    background-image: image-url('haikei.jpg');
    background-size:  cover;
}
// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
