<div class="container">
  <div class="row">
    <p class="h4 col-8 offset-2 mt-5 text-center mb-5 ">ご注文ありがとうございました。<br>
    商品をお使い頂きましたら、ぜひ感想の投稿をお願いいたします。<br>
    </p>
  </div>
  <div class="row">
    <div class="image mx-auto">
    <%= image_tag '/assets/thanks.jpg', size: "600x450" %>
    </div>
  </div>
</div>