<div class="container">
  <div class="row">
    <p class="h4 col-sm-8 offset-sm-2 mt-5 text-left text-secondary mb-5 ">ご注文ありがとうございました。<br>
    商品をお使い頂きましたら、ぜひ感想の投稿をお願いいたします。<br>
    </p>
  </div>
  <div class="row mb-5">
    <div class="image mx-auto">
    <%= image_tag 'thanks.jpg', size: "600x450", class: "img-fluid" %>
    </div>
  </div>
</div>
</div>
